*{
    margin: 0;
    padding: 0;
    font-family: 'Castoro Titling', cursive;
   
}
.assignmentContainerBtn{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 75px;
}
#complimentButton{
    background-color: royalblue;
    color: black;
    font-weight: bold;
    border: 3px outset rgba(65, 105, 225, 0.435);
    width:400px;
    height:30px;
    border-radius: 20px;
}
#fortuneBtn{
    background-color: royalblue;
    color: black;
    font-weight: bold;
    border: 3px outset rgba(65, 105, 225, 0.435);
    width:400px;
    height:30px;
    border-radius: 20px;
}
body{
    background-color: whitesmoke;
}
header{
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    display:flex;
    flex-direction: row;
    
    
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 30px;
    width:350px;
    height:350px;
    background-color:royalblue;
    border-radius: 20%;
    border:4px inset rgba(65, 105, 225, 0.435)
}
#signs{
    border-radius:5px;
    height:20px;
    width:250px;
}
#addCharBtn {
    background-color: black;
    color:rgba(255, 255, 255, 0.997);
    border:none;
    width: 200px;
    height: 30px;
    border:1px outset rgb(39, 187, 220);
    border-radius:15px;
}
input[type='text']{
    width: 85%;
    height: 30px;
    border-radius: 10%;
    padding-left:5px;
}
#characters-container{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.character-card{
display:flex;
width:300px;
height:fit-content;
align-items: center;
flex-direction: column;
border:1px groove Black;
overflow-y: hidden;
border-radius:3%;
background-color: rgba(250, 250, 250, 0.454);
}
.characterCardNameBlock{
    font-size: 25px;
}

.character-cover-image{
    min-height: 300px;
    min-width:228px;
    max-width: 228px;
    max-height: 300px;
    border:4px inset black;
    border-radius: 2%;
}
.pQuote{
    margin-top: 7px;
   
    height: 100px;
    width:100%;
    font-weight: bolder;
}
.pQuoteTwo{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    overflow: hidden;
    overflow-y: scroll;
    align-items: center;
    font-style: oblique;
    
}
.BtnTraitsContainer{
    display:flex;
    justify-content: space-between;
    gap:85px;

}
.cardBottomRow{
    display: flex;
    flex-direction: column;
}